{% extends 'base.html' %}

{% block content %}

<div class="container">
<h3 class="display-3">User Login</h3>
<p class="lead">Don't have an account? <a href="/register">Register today.</a></p>
<hr>

<form method="post">

    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{ field.label }}
        {{ field(class_="form-control") }}

        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </p>
    {% endfor %}

    <button class="btn btn-success" type="submit">Login</button>

</form>
</div>

{% endblock %} 